@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
.container {
  width: 100%;
  margin: 0 auto;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto 0 auto;
  justify-content: space-evenly;
}
.menu__center {
  justify-content: center;
  display: flex;
  margin: 0 200px;
}
.menu__items {
  list-style: none;
}
.menu__link {
  text-decoration: none;
}
.menu__text {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .menu__center {
    margin: 0 120px;
  }
  .menu__text {
    margin-right: 60px;
    font-size: 14px;
  }
  .menu__logo {
    width: 55px;
  }
  .menu__log {
    width: 25px;
  }
}
@media (max-width: 1000px) {
  .menu {
    margin: 8px auto 0 auto;
  }
  .menu__center {
    margin: 0 100px;
  }
  .menu__text {
    margin-right: 40px;
    font-size: 10px;
  }
  .menu__logo {
    width: 40px;
  }
  .menu__log {
    width: 18px;
  }
}
@media (max-width: 600px) {
  .menu {
    margin: 3px auto 0 auto;
  }
  .menu__center {
    margin: 0 40px;
  }
  .menu__text {
    margin-right: 15px;
    font-size: 5px;
    margin-top: 10px;
  }
  .menu__logo {
    width: 15px;
  }
  .menu__log {
    width: 8px;
  }
}
.footmenu {
  padding-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1%;
}
.footmenu__left {
  justify-content: center;
  display: flex;
}
.footmenu__center {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
}
.footmenu__right {
  justify-content: center;
  display: flex;
}
.footmenu__contact {
  display: flex;
  align-items: center;
}
.footmenu__icon {
  margin-right: 5px;
}
.footmenu__number {
  color: black;
  font-family: "Cormorant", serif;
  font-size: 20px;
}
.footmenu__items {
  list-style: none;
}
.footmenu__link {
  text-decoration: none;
}
.footmenu__text {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .footmenu {
    padding-top: 130px;
  }
  .footmenu__center {
    margin-right: 50px;
    font-size: 13px;
  }
  .footmenu__icon {
    width: 22px;
    margin-right: 3px;
  }
  .footmenu__number {
    font-size: 13px;
  }
  .footmenu__text {
    margin-right: 50px;
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .footmenu {
    padding-top: 80px;
  }
  .footmenu__center {
    margin-right: 30px;
    font-size: 9px;
  }
  .footmenu__icon {
    width: 22px;
    margin-right: 3px;
  }
  .footmenu__number {
    font-size: 9px;
  }
  .footmenu__text {
    margin-right: 30px;
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  .footmenu {
    margin-bottom: 0.5%;
    padding-top: 50px;
  }
  .footmenu__left {
    margin-bottom: 10px;
  }
  .footmenu__center {
    margin-right: 15px;
    font-size: 5px;
  }
  .footmenu__icon {
    width: 8px;
    margin-right: 0.5px;
  }
  .footmenu__number {
    font-size: 5px;
  }
  .footmenu__text {
    margin-right: 15px;
    font-size: 5px;
  }
}
h2 {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 1400px) {
  h2 {
    margin-top: 40px;
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  h2 {
    margin-top: 25px;
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  h2 {
    margin-top: 8px;
    font-size: 10px;
  }
}
.btnvalid {
  color: black;
  font-size: 20px;
  text-align: center;
  transition: color 0.3s ease;
  color: black;
  font-family: "Cormorant", serif;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0 auto;
  background-color: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btnvalid:hover {
  color: #fff;
  background-color: #E8D3C8;
}

@media (max-width: 1100px) {
  .btnvalid {
    font-size: 14px;
    width: 130px;
    height: 33px;
    border: 1px solid black;
    margin: 12px auto 0 auto;
  }
}
@media (max-width: 800px) {
  .btnvalid {
    font-size: 10px;
    width: 90px;
    height: 22px;
    border: 0.5px solid black;
    margin: 8px auto 0 auto;
  }
}
@media (max-width: 500px) {
  .btnvalid {
    font-size: 5px;
    width: 50px;
    height: 12px;
    border: 0.05px solid black;
    margin: 3px auto 0 auto;
  }
}
.error-message {
  color: red;
  font-family: "Cormorant", serif;
  font-size: 15px;
}
@media (max-width: 1100px) {
  .error-message .error-message {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .error-message .error-message {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  .error-message .error-message {
    font-size: 6px;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.login {
  text-align: center;
  margin-top: 10px;
  font-family: "Cormorant", serif;
  color: black;
  font-size: 22px;
}
.login__link {
  color: black;
  font-family: "Cormorant", serif;
  font-size: 15px;
}
.login__line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login img {
  width: 142px;
}
.login__box {
  display: grid;
  justify-items: start;
  justify-content: center;
  align-content: space-evenly;
}
.login input {
  height: 45px;
  width: 303px;
  margin-bottom: 20px;
  font-family: "Cormorant", serif;
  color: black;
  font-size: 22px;
}
.login label {
  margin-bottom: 5px;
}

@media (max-width: 1100px) {
  .link {
    font-size: 12px;
  }
  .login {
    font-size: 15px;
  }
  .login img {
    width: 80px;
  }
  .login__box {
    margin: 25px 0;
  }
  .login input {
    height: 25px;
    width: 170px;
    margin-bottom: 15px;
    font-size: 13px;
    border: 1px solid black;
  }
  .login label {
    margin-bottom: 5px;
  }
}
@media (max-width: 800px) {
  .link {
    font-size: 7px;
  }
  .login {
    font-size: 9px;
  }
  .login img {
    width: 80px;
  }
  .login__box {
    margin: 10px 0;
  }
  .login input {
    height: 20px;
    width: 120px;
    margin-bottom: 8px;
    font-size: 6px;
    border: 0.5px solid black;
  }
  .login label {
    margin-bottom: 5px;
  }
}
@media (max-width: 500px) {
  .link {
    font-size: 3px;
  }
  .login {
    font-size: 6px;
  }
  .login img {
    width: 40px;
  }
  .login__box {
    margin: 10px 0;
  }
  .login input {
    height: 8px;
    width: 60px;
    margin-bottom: 3px;
    font-size: 3px;
    border: 0.05px solid black;
  }
  .login label {
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=login.css.map */