@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
.container {
  width: 100%;
  margin: 0 auto;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto 0 auto;
  justify-content: space-evenly;
}
.menu__center {
  justify-content: center;
  display: flex;
  margin: 0 200px;
}
.menu__items {
  list-style: none;
}
.menu__link {
  text-decoration: none;
}
.menu__text {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .menu__center {
    margin: 0 120px;
  }
  .menu__text {
    margin-right: 60px;
    font-size: 14px;
  }
  .menu__logo {
    width: 55px;
  }
  .menu__log {
    width: 25px;
  }
}
@media (max-width: 1000px) {
  .menu {
    margin: 8px auto 0 auto;
  }
  .menu__center {
    margin: 0 100px;
  }
  .menu__text {
    margin-right: 40px;
    font-size: 10px;
  }
  .menu__logo {
    width: 40px;
  }
  .menu__log {
    width: 18px;
  }
}
@media (max-width: 600px) {
  .menu {
    margin: 3px auto 0 auto;
  }
  .menu__center {
    margin: 0 40px;
  }
  .menu__text {
    margin-right: 15px;
    font-size: 5px;
    margin-top: 10px;
  }
  .menu__logo {
    width: 15px;
  }
  .menu__log {
    width: 8px;
  }
}
.footmenu {
  padding-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1%;
}
.footmenu__left {
  justify-content: center;
  display: flex;
}
.footmenu__center {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
}
.footmenu__right {
  justify-content: center;
  display: flex;
}
.footmenu__contact {
  display: flex;
  align-items: center;
}
.footmenu__icon {
  margin-right: 5px;
}
.footmenu__number {
  color: black;
  font-family: "Cormorant", serif;
  font-size: 20px;
}
.footmenu__items {
  list-style: none;
}
.footmenu__link {
  text-decoration: none;
}
.footmenu__text {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .footmenu {
    padding-top: 130px;
  }
  .footmenu__center {
    margin-right: 50px;
    font-size: 13px;
  }
  .footmenu__icon {
    width: 22px;
    margin-right: 3px;
  }
  .footmenu__number {
    font-size: 13px;
  }
  .footmenu__text {
    margin-right: 50px;
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .footmenu {
    padding-top: 80px;
  }
  .footmenu__center {
    margin-right: 30px;
    font-size: 9px;
  }
  .footmenu__icon {
    width: 22px;
    margin-right: 3px;
  }
  .footmenu__number {
    font-size: 9px;
  }
  .footmenu__text {
    margin-right: 30px;
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  .footmenu {
    margin-bottom: 0.5%;
    padding-top: 50px;
  }
  .footmenu__left {
    margin-bottom: 10px;
  }
  .footmenu__center {
    margin-right: 15px;
    font-size: 5px;
  }
  .footmenu__icon {
    width: 8px;
    margin-right: 0.5px;
  }
  .footmenu__number {
    font-size: 5px;
  }
  .footmenu__text {
    margin-right: 15px;
    font-size: 5px;
  }
}
h2 {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 1400px) {
  h2 {
    margin-top: 40px;
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  h2 {
    margin-top: 25px;
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  h2 {
    margin-top: 8px;
    font-size: 10px;
  }
}
.button {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0 auto;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #E8D3C8;
}

.btntext {
  color: black;
  font-size: 20px;
  text-align: center;
  transition: color 0.3s ease;
}

.btntext:hover {
  color: #fff;
}

.btn__link {
  text-decoration: none;
  color: black;
  font-family: "Cormorant", serif;
}

@media (max-width: 1100px) {
  .btntext {
    font-size: 12px;
  }
  .button {
    width: 140px;
    height: 40px;
    margin: 35px auto 0 auto;
  }
}
@media (max-width: 800px) {
  .btntext {
    font-size: 8px;
  }
  .button {
    width: 100px;
    height: 25px;
    margin: 25px auto 0 auto;
    border: 0.5px solid black;
  }
}
@media (max-width: 500px) {
  .btntext {
    font-size: 4px;
  }
  .button {
    border: 0.05px solid black;
    width: 40px;
    height: 10px;
    margin: 15px auto 0 auto;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

.massage {
  font-family: "Cormorant", serif;
  font-weight: 400;
  color: black;
}
.massage__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.massage__items {
  margin-right: 20px;
}
.massage__item {
  font-size: 20px;
  width: 303px;
  height: 75px;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  display: grid;
  align-content: center;
}
.massage__bigitem {
  font-size: 20px;
  width: 303px;
  height: 100px;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  display: grid;
  align-content: center;
}
.massage__name {
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .massage__box {
    margin-top: 40px;
  }
  .massage__items {
    margin-right: 20px;
  }
  .massage__item {
    font-size: 12px;
    width: 170px;
    height: 42px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
  }
  .massage__bigitem {
    font-size: 12px;
    width: 170px;
    height: 56px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
  }
  .massage__img {
    height: 250px;
  }
}
@media (max-width: 800px) {
  .massage__box {
    margin-top: 30px;
  }
  .massage__items {
    margin-right: 10px;
  }
  .massage__item {
    font-size: 8px;
    width: 122px;
    height: 30px;
    border: 0.5px solid black;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
  }
  .massage__bigitem {
    font-size: 8px;
    width: 122px;
    height: 40px;
    border: 0.5px solid black;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
  }
  .massage__img {
    height: 160px;
  }
}
@media (max-width: 500px) {
  .massage__box {
    margin-top: 10px;
  }
  .massage__items {
    margin-right: 5px;
  }
  .massage__item {
    font-size: 4px;
    width: 60px;
    height: 15px;
    border: 0.05px solid black;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
  }
  .massage__bigitem {
    font-size: 4px;
    width: 60px;
    height: 20px;
    border: 0.05px solid black;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
  }
  .massage__img {
    height: 75px;
  }
}/*# sourceMappingURL=massage.css.map */