@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
.container {
  width: 100%;
  margin: 0 auto;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto 0 auto;
  justify-content: space-evenly;
}
.menu__center {
  justify-content: center;
  display: flex;
  margin: 0 200px;
}
.menu__items {
  list-style: none;
}
.menu__link {
  text-decoration: none;
}
.menu__text {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .menu__center {
    margin: 0 120px;
  }
  .menu__text {
    margin-right: 60px;
    font-size: 14px;
  }
  .menu__logo {
    width: 55px;
  }
  .menu__log {
    width: 25px;
  }
}
@media (max-width: 1000px) {
  .menu {
    margin: 8px auto 0 auto;
  }
  .menu__center {
    margin: 0 100px;
  }
  .menu__text {
    margin-right: 40px;
    font-size: 10px;
  }
  .menu__logo {
    width: 40px;
  }
  .menu__log {
    width: 18px;
  }
}
@media (max-width: 600px) {
  .menu {
    margin: 3px auto 0 auto;
  }
  .menu__center {
    margin: 0 40px;
  }
  .menu__text {
    margin-right: 15px;
    font-size: 5px;
    margin-top: 10px;
  }
  .menu__logo {
    width: 15px;
  }
  .menu__log {
    width: 8px;
  }
}
.footmenu {
  padding-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1%;
}
.footmenu__left {
  justify-content: center;
  display: flex;
}
.footmenu__center {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
}
.footmenu__right {
  justify-content: center;
  display: flex;
}
.footmenu__contact {
  display: flex;
  align-items: center;
}
.footmenu__icon {
  margin-right: 5px;
}
.footmenu__number {
  color: black;
  font-family: "Cormorant", serif;
  font-size: 20px;
}
.footmenu__items {
  list-style: none;
}
.footmenu__link {
  text-decoration: none;
}
.footmenu__text {
  color: black;
  font-family: "Cormorant", serif;
  margin-right: 100px;
  font-size: 20px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .footmenu {
    padding-top: 130px;
  }
  .footmenu__center {
    margin-right: 50px;
    font-size: 13px;
  }
  .footmenu__icon {
    width: 22px;
    margin-right: 3px;
  }
  .footmenu__number {
    font-size: 13px;
  }
  .footmenu__text {
    margin-right: 50px;
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .footmenu {
    padding-top: 80px;
  }
  .footmenu__center {
    margin-right: 30px;
    font-size: 9px;
  }
  .footmenu__icon {
    width: 22px;
    margin-right: 3px;
  }
  .footmenu__number {
    font-size: 9px;
  }
  .footmenu__text {
    margin-right: 30px;
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  .footmenu {
    margin-bottom: 0.5%;
    padding-top: 50px;
  }
  .footmenu__left {
    margin-bottom: 10px;
  }
  .footmenu__center {
    margin-right: 15px;
    font-size: 5px;
  }
  .footmenu__icon {
    width: 8px;
    margin-right: 0.5px;
  }
  .footmenu__number {
    font-size: 5px;
  }
  .footmenu__text {
    margin-right: 15px;
    font-size: 5px;
  }
}
h2 {
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 1400px) {
  h2 {
    margin-top: 40px;
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  h2 {
    margin-top: 25px;
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  h2 {
    margin-top: 8px;
    font-size: 10px;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding-bottom: 80px;
}

.master {
  background: url(img/lines.png) no-repeat;
  max-width: 100%;
  font-family: "Cormorant", serif;
  color: black;
  font-size: 20px;
}
.master__cards {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.master__cardss {
  display: flex;
  margin-left: 300px;
}
.master__card {
  width: 303px;
  height: 575px;
  border: 1px solid black;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  justify-items: center;
}
.master__skill {
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 10px;
}
.master__name {
  margin-top: 10px;
  margin-bottom: 5px;
}
.master__about {
  font-size: 15px;
  margin-top: 5px;
  width: 298px;
}

@media (max-width: 1200px) {
  h2 {
    padding-bottom: 60px;
  }
  .master {
    background: url(img/line1.png) no-repeat;
    font-size: 10px;
  }
  .master__photo {
    height: 178px;
  }
  .master__cards {
    margin-bottom: 30px;
  }
  .master__cardss {
    margin-left: 185px;
  }
  .master__card {
    width: 154px;
    height: 292px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .master__skill {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .master__name {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .master__about {
    font-size: 8px;
    margin-top: 2px;
    width: 148px;
  }
}
@media (max-width: 800px) {
  h2 {
    padding-bottom: 40px;
  }
  .master {
    background: url(img/дшту2.png) no-repeat;
    font-size: 8px;
  }
  .master__photo {
    height: 125px;
  }
  .master__cards {
    margin-bottom: 20px;
  }
  .master__cardss {
    margin-left: 118px;
  }
  .master__card {
    border: 0.5px solid black;
    width: 111px;
    height: 211px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .master__skill {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .master__name {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .master__about {
    font-size: 5px;
    margin-top: 2px;
    width: 105px;
  }
}
@media (max-width: 500px) {
  h2 {
    padding-bottom: 15px;
  }
  .master {
    background: none;
    font-size: 3.2px;
  }
  .master__photo {
    height: 53px;
  }
  .master__cards {
    margin-bottom: 5px;
  }
  .master__cardss {
    margin-left: 83px;
  }
  .master__card {
    border: 0.05px solid black;
    width: 47px;
    height: 88px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .master__skill {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .master__name {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .master__about {
    font-size: 2.2px;
    margin-top: 2px;
    width: 42px;
  }
}/*# sourceMappingURL=mstyle.css.map */